**Data Types and Structures question**

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data to enable efficient access and modification. They are important because they optimize performance, make data management easier, and are fundamental to problem-solving in computer science.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable: Can be changed after creation. Example: list = [1, 2, 3] → we can modify elements.
  - Immutable: Cannot be changed after creation. Example: tuple = (1, 2, 3) → elements cannot be altered.

3. What are the main differences between lists and tuples in Python?
  - Lists: Mutable, slower, use [], good for dynamic data.
  - Tuples: Immutable, faster, use (), good for fixed data.

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs using a hash table internally, allowing fast lookups, insertions, and deletions.

5. Why might you use a set instead of a list in Python?
  - To store unique elements (no duplicates).To perform mathematical operations like union, intersection, and difference efficiently.

6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters (immutable).
  - A list is a sequence of elements (mutable, can hold mixed types).
Example: "hello" vs [1, "hello", 3.5].

7. How do tuples ensure data integrity in Python?
  - Since tuples are immutable, their contents cannot be modified, ensuring that data remains fixed and secure.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
  - Yes, lists are heterogeneous.

10. Explain why strings are immutable in Python.
  - Strings are immutable for:Security (e.g., safe to use in hashing/keys), Performance

11. What advantages do dictionaries offer over lists for certain tasks?
  - More meaningful storage using key-value mapping.
  - Efficient for tasks like counting frequencies or storing configurations.

12. Describe a scenario where using a tuple would be preferable over a list.
  - When storing fixed data that should not change, e.g., coordinates (x, y) or database record keys.

13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicates. Example: {1, 2, 2, 3} → {1, 2, 3}.

14. How does the “in” keyword work differently for lists and dictionaries?
  - List: Checks if the value exists (5 in [1,2,5]).
  - Dictionary: Checks if the key exists ("name" in {"name": "Alex"}).

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, tuples are immutable. Once created, elements cannot be changed. However, if a tuple contains a mutable object (like a list), that object can still be modified.

16. What is a nested dictionary, and give an example of its use case?
  - A dictionary containing another dictionary as a value.
Example:
student = {
  "name": "John",
  "marks": {"math": 90, "science": 85}
}

17. Describe the time complexity of accessing elements in a dictionary.
  - Average case: O(1) (constant time).
  - Worst case: O(n) (if hash collisions occur).

18. In what situations are lists preferred over dictionaries?
  - When order matters.
  - When storing sequential data.
  - When fast iteration is needed without key lookups.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because they rely on hashing rather than positions. Even though insertion order is preserved in newer Python versions, data retrieval always depends on keys, not indexes.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - List: Retrieve by index (position-based).
  - Dictionary: Retrieve by key (name-based lookup).

**Practical Questions**

In [11]:
# 1. Write a code to create a string with your name and print it.

name = "Janhavi"
print(name)

Janhavi

In [12]:
# 2. Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [13]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
print(text[:3])

Pyt

In [14]:
# 4. Write a code to convert the string "hello" to uppercase.

text = "hello"
print(text.upper())

HELLO

In [15]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [16]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [17]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [18]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [19]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [20]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [21]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [22]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [23]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

nums = (10, 20, 5, 15)
print(min(nums))

5

In [24]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [25]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [30]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

In [31]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [32]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [33]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [34]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [36]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "Janhavi", "age": 21, "city": "Nashik"}
print(person)

{'name': 'Janhavi', 'age': 21, 'city': 'Nashik'}

In [37]:
# 22. Write a code to add a new key–value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [38]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [39]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [40]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [41]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [42]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[13, 28, 48, 54, 90]

In [43]:
# 28. Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date"]
print(words[3])

date

In [47]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [46]:
# 30. Write a code to convert a list of strings into a set.

words = ["apple", "banana", "apple", "cherry"]
words_set = set(words)
print(words_set)

{'cherry', 'apple', 'banana'}